@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

  html, body {
    /*overflow: auto !important;*/
    /*height: auto !important;*/
  }

  /*main {
    height: 100%!important;
    overflow-y: scroll!important;
  }

  @-moz-document url-prefix() {
    /*html, body {
      height: 100% !important;
    }*/
  /*}

  h1 {
    color: #fff !important;
    font-weight: 300;
    font-size: 60px;
    font-family: 'Open Sans';
  }

  h5 {
    font-weight: 600;

    font-size: 20px;
  }

  h6 {
    font-weight: 300;

    font-size: 14px;
    font-family: 'Lato';
  }

  /*header,
  footer  {
    margin: 0;

    padding: 0;
    /*height: 265px;*/
  /*}*/

 /* footer {
    display: table;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 16px;
    font-family: 'Lato';
  }

  footer > span {
    display: block;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  header {
    position: relative;
    /*height: 590px;*/
    /*padding-top: 58px;*/
    /*background-color: #5b4ebe;*/
    /* new */
    /*padding: 40px 60px;
    background-color: #2a2a2e;*/
  /*}*/

  /*footer {
    margin-top: 122px;
    background-color: #222222;
  }*/

  /*header a.button {
    float: right !important;
    margin: 0 !important;
  }

  header h1,
  .filter-button-group  {
    width: 100%;
    text-align: center;
  }

  header > .background {
    position: absolute;
	top: auto;
    bottom: 0;
    left: 20%;

    width: 60%;
    height: 60%;
    background: url(../macbook.png) bottom center no-repeat;
    background-size: contain;
  }*/

  .grid-item {
    /*padding-bottom: 45px;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .row > .logo {
    /* new */
    position: relative;
    top: 13px;

    text-align: left;
    /* / new */
  }

  .logo .logo-link {
    display: inline-block;
    border-bottom: none!important;
  }

  .logo .logo-link:hover,
  .logo .logo-link:active,
  .logo .logo-link:focus {
    border-bottom: none!important;
  }


  .logo img {
    height: 18px;
  }

  .row > .buy {
    text-align: right;
  }

  .filter-button-group {
    padding: 29px 15px;
    background-color: #343440;
    font-size: 14px;
    cursor: pointer;
  }

  @media ( max-width:767px ) {
    .filter-button-group {
      white-space: nowrap;
      width: auto;
      overflow-x: scroll;
    }
  }

  .filter-button-group a {
    margin-right: 12px;
    padding: 10px 24px 12px 24px;
    border: 2px solid transparent!important;
    border-radius: 24px;
    /*color: rgba(54, 54, 54, 0.9);*/
    color: rgba(255, 255, 255, 0.9)!important;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 4;

    font-size: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
    -webkit-transition: background 0.3s ease, border-color 0.3s ease;
    transition: background 0.3s ease, border-color 0.3s ease;
  }

  .filter-button-group a:hover {
    border: 2px solid #00b494 !important;
  }

  .filter-button-group a.current {
    background: #00b494;
    color: rgba(255, 255, 255, 0.9);
  }

  .filter-button-group a.current:not(:only-child):hover {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .filter-button-group a:last-child {
    margin-right: 0;
  }

  .filter-button-group a:not(:only-child):focus {
    border: 2px solid #00b494 !important;

    color: rgba(255, 255, 255, 0.9) !important;
  }

  .filter-button-group a:not(:only-child):hover {
    border: 2px solid #00b494 !important;

    color: rgba(255, 255, 255, 1) !important;
  }

  main img {
    display: block;
    /*max-width: 400px;*/
    width: 100%;
    /*height: 55px; Cuando veas esto dime porque quieres cambiarlo a 55px. */
    height:auto; /* Cuando veas esto dime porque quieres cambiarlo a 55px. */
    border: 0;
    /*background: #643737;*/
    /*margin-left: -7%;*/
  }

  @media (max-width: 767px) {

    header {
     height: auto;
    }

    .logo, .buy {
      text-align: center !important;
    }

    .logo {
      margin-bottom: 35px;
    }

    .buy {
      margin-bottom: 20px;
    }

    .logo img {
      display: inline-block;
    }

    .buy a.button {
      float: none!important;
    }

    header > .background {
      display: none;
    }

    main img,
    .img-wrapper {
      /* margin: 0 auto; */

      /*max-width: 400px;*/
    }

    .grid-item {
      text-align: center;
    }
  }

  /*.img-wrapper {
    position: relative;

    display: block;
    overflow: hidden;
    cursor: pointer;
  }

  .img-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 70%;
    height: 100%;
    background: #3598db;
    content: '';
    transition: transform 0.5s;
    transform: translateX(-100%);
  }

  .img-wrapper:hover:before {
    transform: translateX(0%);
  }*/

  .grid-item {
    position: relative;
  }
  .grid-item a {
    border: none!important;
    display: block;
    position: relative;
  }

  .grid-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    /*background-color: #585ab2;*/
    /*-webkit-transition: transform .3s ease;*/
    /*transition: transform .3s ease;*/
    /*transform: scale(0);*/
    /*background-image: url(../play.svg);
    background-position: center;
    background-size: 65px 65px;
    background-repeat: no-repeat;
    will-change: transform;*/
    overflow: hidden;
    z-index: 1;
  }

  .grid-item a:hover .grid-item-hover {
    display: none;
  }

  .grid-item-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 70px;
    height: 70px;
    background-image: url(../play.svg);
    background-position: center;
    background-size: 65px 63px;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }

  .grid-item-hover-bottom {
    position: absolute;
    bottom: 42px;
    left: 0;
    display: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    opacity: 0;
  }

  .grid-item-hover-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  @media ( min-width:992px ) {
    .grid-item a .grid-item-hover{
      opacity: 0;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
    }

    .grid-item a:hover .grid-item-hover{
      opacity: 1;
      display: block;
      border: none!important;
    }

    .grid-item-hover-icon {
      display: block;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
    }
    .grid-item a:hover .grid-item-hover .grid-item-hover-icon {
      -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    }

    .grid-item-hover-bottom {
      display: block;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
    }
    .grid-item a:hover .grid-item-hover .grid-item-hover-bottom {
      opacity: 1;
      -webkit-transition: opacity .3s ease .3s;
      transition: opacity .3s ease .3s;
    }

    .grid-item-hover-bg {
      display: block;
      opacity: 0;
      -webkit-transition: padding .6s ease, opacity 0s ease .6s;
      transition: padding .6s ease, opacity 0s ease .6s;
    }
    .grid-item a:hover .grid-item-hover .grid-item-hover-bg {
      padding: 100%;
      opacity: 0.9;
      -webkit-transition: padding .6s ease, opacity 0s ease;
      transition: padding .6s ease, opacity 0s ease;
    }
  }

  .grid-item-hover .agency {
    background-color: #444655;
  }
  .grid-item-hover .app1 {
    background-color: #261c21;
  }
  .grid-item-hover .app2 {
    background-color: #846db1;
  }
  .grid-item-hover .app3 {
    background-color: #f26c63;
  }
  .grid-item-hover .artist {
    background-color: #dc8289;
  }
  .grid-item-hover .artistwater {
    background-color: #afd0e4;
  }
  .grid-item-hover .boysband {
    background-color: #202336;
  }
  .grid-item-hover .cp {
    background-color: #363636;
  }
  .grid-item-hover .community {
    background-color: #3591cf;
  }
  .grid-item-hover .dj {
    background-color: #51bfe2;
  }
  .grid-item-hover .gd {
    background-color: #484e4e;
  }
  .grid-item-hover .fd {
    background-color: #608b7c;
  }
  .grid-item-hover .law {
    background-color: #b26366;
  }
  .grid-item-hover .personalgirl {
    background-color: #e47f74;
  }
  .grid-item-hover .personalman {
    background-color: #515c78;
  }
  .grid-item-hover .photographer {
    background-color: #da4765;
  }
  .grid-item-hover .photographyagency {
    background-color: #7d6c74;
  }
  .grid-item-hover .rentalboard {
    background-color: #7bb7cf;
  }
  .grid-item-hover .rest {
    background-color: #17232b;
  }
  .grid-item-hover .singer {
    background-color: #62c3bf;
  }
  .grid-item-hover .sport {
    background-color: #2ec797;
  }
  .grid-item-hover .videomaker {
    background-color: #4f3f81;
  }
  .grid-item-hover .comingsoon {
    background-color: #4fb873;
  }
  .grid-item-hover .under {
    background-color: #606f84;
  }

  .overflow-y-scroll {
    overflow-y: scroll !important;
  }

  main.overflow-auto {
    height: auto !important;
    overflow: hidden!important;
  }

  /* Into gallery */
  /*************************************/
  .into-cospo-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 420px;
    z-index: 0;
  }

  .into-cospo-gallery .item {
    position: relative;
    width: 25%;
    height: 50%;
    float: left;
    z-index: -1;
    overflow: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09), -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
  }
  .into-cospo-gallery .item--hide:nth-child(odd) {
    -webkit-transform: translateY(-220%);
    transform: translateY(-220%);
  }
  .into-cospo-gallery .item--hide:nth-child(even) {
    -webkit-transform: translateY(220%);
    transform: translateY(220%);
  }

  @media ( min-width: 768px ) {
    .into-cospo-gallery .item {
      width: 12.5%;
      height: 100%;
    }
    .into-cospo-gallery .item--hide:nth-child(odd) {
      -webkit-transform: translateY(-120%);
      transform: translateY(-120%);
    }
    .into-cospo-gallery .item--hide:nth-child(even) {
      -webkit-transform: translateY(120%);
      transform: translateY(120%);
    }
  }

  .into-cospo-gallery .item .item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity 0.1s ease 0.7s, -webkit-transform 0.1s ease 0.7s;
   transition: opacity 0.1s ease 0.7s, -webkit-transform 0.1s ease 0.7s;
   transition: opacity 0.1s ease 0.7s, transform 0.1s ease 0.7s;
   transition: opacity 0.1s ease 0.7s, transform 0.1s ease 0.7s, -webkit-transform 0.1s ease 0.7s;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url();*/
    /*background-color: #000;*/
  }

  .into-cospo-gallery .item .item-bg.active {
    opacity: 1;
    z-index: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s cubic-bezier(0.03, 0.45, 0.19, 0.79);
    transition: opacity 0.6s ease, -webkit-transform 0.6s cubic-bezier(0.03, 0.45, 0.19, 0.79);
    transition: opacity 0.6s ease, transform 0.6s cubic-bezier(0.03, 0.45, 0.19, 0.79);
    transition: opacity 0.6s ease, transform 0.6s cubic-bezier(0.03, 0.45, 0.19, 0.79), -webkit-transform 0.6s cubic-bezier(0.03, 0.45, 0.19, 0.79);
  }

  /* Into Page Overlay*/
  .into-page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 1;
  }

  /* Into Page */
  .into-page {
    /*position: relative;*/
    position: absolute;
    width: 100%;
    height: 480px;
    height: 100vh;
    /*min-height: 480px;*/
    z-index: 99999990;
    background-color: transparent;
    overflow: hidden;
  }

  /* Into Page Content */
  .into-page-content {
    position: relative;
    height: 100%;
    z-index: 2;
    opacity: 1;
    -webkit-transition: opacity 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: opacity 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
  }
  .into-page-content--hide {
    opacity: 0;
  }

  /* Into Page Logo */
  .into-page-logo {
    position: absolute;
    /*top: 13.54%;*/
    top: 10.2%;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  .into-page-logo a {
    display: inline-block;
    height: 32px;
  }

  .into-page-logo a img {
    /*height: 32px;*/
    height: 36px;
  }

  /* Into Page Image */
  .into-page-img {
    position: absolute;
    top: 25.5%;
    left: 0;
    right: 0;
    width: auto;
    max-width: 100%;
    height: 29%;
    margin: 0 auto;
    /*-webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    z-index: 2;
  }

  /* Into Page Button */
  .into-page-button {
    position: absolute;
    /*bottom: 13.54%;*/
    bottom: 20%;
    left: 50%;
    margin-left: -22.5px;
    z-index: 2;
    border: 1px solid transparent!important;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../down.svg');
    background-size: 45px 45px;
    background-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }


  body:not(.light):not(.dark) a.into-page-button:hover,
  body.light a.into-page-button:hover {
    border: 1px solid transparent!important;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  .into-page-logo,
  .into-page-img,
  .into-page-button {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    transition: transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09), -webkit-transform 0.8s cubic-bezier(0.38, 0.05, 0.71, 0.09);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /*.into-page-logo {
    -webkit-transform-origin: bottom;
    transform-origin: 100% 100%;
  }

  .into-page-button {
    -webkit-transform-origin: top;
    transform-origin: top;
  }*/

  .into-page-content--hide .into-page-logo,
  .into-page-content--hide .into-page-img,
  .into-page-content--hide .into-page-button {
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
  }
